analisis_ortogrupos/.Rproj.user
analisis_ortogrupos/.RDataTmp
analisis_ortogrupos/.Rhistory
analisis_ortogrupos/.RData
analisis_ortogrupos/.RData.Ruserdata
analisis_ortogrupos/data/
analisis_ortogrupos/results/